<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Bad request - 400</title>

	<link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:700,900" rel="stylesheet">

	<link type="text/css" rel="stylesheet" href="/style.css" />

</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>400</h1>
			</div>
			<h2>Bad request</h2>
			<p>Your browser sent a request that this server could not understand.</p>
			<a href="/">Go To Homepage</a>
		</div>
	</div>

</body>

</html>
